server:
  port: 8082

spring:
  data:
    mongodb:
      uri: ${MONGODB_URI:mongodb://localhost:27017/eds}
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:PLAINTEXT://localhost:9092}
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      acks: all
      enable-idempotence: true

management:
  endpoints:
    web:
      exposure:
        include: health,metrics,prometheus
  metrics:
    export:
      prometheus:
        enabled: true

logging:
  level:
    com.eds: DEBUG

